<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>상품 목록</title>
	<link rel="stylesheet" href="/css/style.css">
	
</head>

<body>
	<div class="container">
		<h1>상품 목록</h1>
		<div class="product-grid">

			<div th:each="shop : ${shoplist}" class="product-item">
				<a th:href="@{/auth/shopDetail/{shopNo}(shopNo=${shop.shopNo})}" class="product-link">
					<img th:src="${shop.shopMainPhoto}" th:alt="${shop.shopTitle}">
					<div class="product-details">
						<h2 th:text="${shop.shopTitle}"></h2>
						<p class="product-price" th:text="'₩' + ${shop.shopPrice}"></p>
						<p class="product-discount" th:text="'할인율: ' + ${shop.shopDiscont} + '%'"></p>
					</div>
				</a>
			</div>
		</div>

		<!-- 페이징 링크 -->
		<div class="pagination">
			<a th:href="@{/auth/shopList(page=0)}" th:classappend="${currentPage == 0 ? 'disabled' : ''}">처음</a>
			<a th:href="@{/auth/shopList(page=${currentPage - 1})}"
				th:classappend="${currentPage == 0 ? 'disabled' : ''}">이전</a>
			<!-- 페이지 번호 링크 생성 -->
			<a th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:href="@{/auth/shopList(page=${i})}"
				th:classappend="${currentPage == i ? 'active' : ''}" th:text="${i + 1}"></a>
			<a th:href="@{/auth/shopList(page=${currentPage + 1})}"
				th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">다음</a>
			<a th:href="@{/auth/shopList(page=${totalPages - 1})}"
				th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">마지막</a>
		</div>
	</div>
</body>

</html>