<div th:fragment="header">
	<!-- wrep -->
	<div class="wrep">
		<!-- header -->
		<header class="header" id="common">
			<div class="inner">
				<h1 class="logo">
					<a href="/">
						<img src="/image/logo.png" alt="" />
					</a>
				</h1>

				<div class="menuWrap">
					<ul class="menu">
						<li class="qMenu"><a href="#">서비스 소개</a></li>
						<!-- <li class="qMenu"><a href="#">메뉴 미정</a></li> -->
						<li class="qMenu"><a href="/auth/shopList">소품 SHOP</a></li>
						<li class="qMenu"><a href="#">3D DIY 인테리어</a></li>
						<li class="qMenu"><a href="/board/event">이벤트</a></li>
						<li class="qMenu"><a href="/auth/evaluation">후기</a></li>
						<li class="qMenu"><a href="/board/faq">고객센터</a></li>
						<li class="qMenu"><a href="/auth/chat" th:if="${session.UId} == admin">관리자챗</a></li>
					</ul>
				</div>

				<div class="userWrap">
					<a href="/auth/login" class="login" th:if="${session.UId} == null">로그인</a>
					<span class="line" th:if="${session.UId} == null"></span>
					<a href="/auth/join" class="memberJoin" th:if="${session.UId} == null">회원가입</a>
					<a href="/my/cart" th:if="${session.UId} != null">장바구니ICON</a>
					<span class="line" th:if="${session.UId} != null"></span>
					<a href="/logout" th:if="${session.UId} != null">로그아웃</a>
					<span class="line" th:if="${session.UId} != null"></span>
					<a href="/mypage/mypage" th:if="${session.UId} != null">마이페이지</a>
				</div>
			</div>
		</header>
	</div>